@media(max-width:600px) {
    .top-wrapper{
        text-align: center;
    }
    
}

@media(max-width:500px) {
    .iphone{
        display:block;
        font-size: 32px;
        font-weight: bold;
    }

    .PC{
        display: none;
    }

    .text-wrapper p{
        font-size: 17px;
        
    }

    input[type="submit"]{
        margin-bottom: 10px;
    }
}
